[submodule ".vim/bundle/bundle/emmet-vim"]
	path = .vim/bundle/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/xoria256.vim"]
	path = .vim/bundle/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
